body {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Roboto700';
    src: url(../fonts/Roboto/Roboto-Bold.ttf)
}

.header-link1 {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    /* identical to box height, or 117% */
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.header-link2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    /* identical to box height, or 117% */
    letter-spacing: 0.03em;
}